<header class="w-100 header relative">
    <div class="gradient w-100 h-100 absolute d-flex">
        <div class="w-100 d-flex justify-content-center align-items-center title p-4 font-weight-bolder text-white text-decoration-none decoration-none"><%= link_to "BLOG APP", sections_path, class: "text-white" %></div>
    </div>
</header>