// Place all the styles related to the Sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

header {
    background-image: url('./images/header.jpg');
    height: 200px;
}

.plus {
    font-size: 50px;
}