// Place all the styles related to the Sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.header {
    background-image: url("https://i.ibb.co/607ZFnZ/header.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.plus {
    font-size: 50px;
}